<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input id="lang" type="radio" name="lang" value="German"> German
    <input id="lang" type="radio" name="lang" value="Portuguese"> Portuguese
    <input id="lang" type="radio" name="lang" value="Italian"> Italian
    <input id="lang" type="radio" name="lang" value="English"> English
    <input id="lang" type="radio" name="lang" value="French"> French
</form>
<br>
<form action="search.html" method="post">
    {% csrf_token %}
    <input type="text" name="connective" id="default_conn" list="conn" placeholder="connective">

    <datalist id="conn" name="conn">
        <option value=""></option>
    </datalist>
    <input type="submit" value="Select">
</form>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("input[name='lang']:radio").on("change", function () {
        $.ajax({
            url: 'http://localhost:8000/get_connectives_wrt_language?lang=' + $("input[name='lang']:checked").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                var datalist = "<datalist name='conn' id='conn'>\n";
                $.each(data, function (entry) {
                    datalist += '<option value=' + this + '>' + this + '</option>';
                });
                datalist += '</datalist>';
                $('#conn').html(datalist);
            },
            error: function () {
                alert('Failed!');
            },
        });
    });
</script>