<style type="text/css">

    #json {
        border-radius: 25px;
        border: 2px dotted;
        position: relative;
        height: 600px;
        white-space: pre-wrap;
        font-size: 16px;
        overflow-y: scroll;
        resize: vertical;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search!</title>
</head>
<body>

<div id="page-wrapper">
    <h1>Connective List</h1>
    <form action="search.html" method="post">
        {% csrf_token %}
        <input type="text" name="connective" id="default_conn" list="conn" placeholder="connective">

        <datalist id="conn" name="conn">
            {% for obj in connectives %}
                <option value="{{ obj.connective }} ">{{ obj.connective }}</option>
            {% endfor %}
        </datalist>
        <input type="text" name="lang" id="default_lang" list="lang" placeholder="language">

        <datalist id="lang" name="lang">
            {% for obj in langs %}
                <option value="{{ obj }} ">{{ obj }}</option>
            {% endfor %}
        </datalist>
        <input type="submit" value="Select">
    </form>
</div>
<ul>
    {% for entry in pdtb3_relations %}
        <b>{{ entry.word }}</b>
        <li>
            {{ entry.relation.pdtb3_relation.0.sense }}
            ({{ entry.relation.pdtb3_relation.0.freq }}/{{ entry.relation.pdtb3_relation.0.anno_N }})
        </li>
    {% endfor %}
</ul>

<br>
<br>

<div id="page-wrapper">
    <h1>Sense List</h1>
    <form action="search.html" method="post">
        {% csrf_token %}
        <input type="text" name="sense" id="default_sense" list="sense" placeholder="sense">

        <datalist id="sense" name="sense">
            {% for s in senses %}
                <option value={{ s }}> {{ s }}</option>
            {% endfor %}
        </datalist>
        <input type="text" name="lang" id="default_lang" list="lang" placeholder="language">

        <datalist id="lang" name="lang">
            {% for obj in langs %}
                <option value="{{ obj }} ">{{ obj }}</option>
            {% endfor %}
        </datalist>
        <input type="submit" value="Select">
    </form>
</div>
<ul>
    {% for conn in conn_list %}
        <li>
            {{ conn }}
        </li>
    {% endfor %}
</ul>

</body>
</html>