<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $.ajax({
                    url: 'http://localhost:8000/upload/search_page_rest?file=talk_1971_en.txt',
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json',
                    success: function (result) {
                        $("#div2").html(JSON.stringify(result));
                                                var tableData = '<table>'
$.each(result, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value + '</td>';
        tableData += '</tr>';
});
tableData += '</table>';
$('#table').html(tableData);

                    },
                    error: function () {
                        alert('Failed!');
                    },
                });
            });
        });
    </script>
</head>
<body>

<table name="table">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
</table>
<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<div id="div2"><h2>Test</h2></div>

<button>Get External Content</button>

</body>