{% extends 'base.html' %}



{% block content %}
    <h1>Welcome to TextLink Portal</h1>

    <address>You can upload your files here!</address>
  <ul>
    <li>
      <a href="{% url 'model_form_upload.html' %}">Upload File(s)</a>
    </li>
  </ul>




  <p>Uploaded files so far:</p>
  <ul>
    {% for obj in documents %}
      <li>
        Ann: <a href="">{{ obj.ann_file.name }}</a>
      </li>
        <li>
        Raw: <a href="">{{ obj.raw_file.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

