<!DOCTYPE html>
<html lang="en">
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>


    function updateChosenSelect(data, select_html, select_name) {
        $.each(data, function (key, value) {
            select_html += '<option value=' + key + '>' + value + '</option>';
        });
        select_html += '</select>';
        $(select_name).html(select_html);
        $(select_name).val('').trigger('chosen:updated');
    }

    function fileLoad() {
        $.ajax({
            url: 'http://localhost:8000/upload/search_page?reset=1',
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (all_data) {

                for (var key in all_data) {
                    var data = all_data[key];
                    var content = data["text"];
                    var annotation_list = data["annotation_list"]
                    content = content.replace(/[\n]/g, "<br />").replace(/[\r]/g, "");
                    var annotation_data = "<select name='annotationList' id='annotation-select' multiple size='30'>\n";
                    var count = 1;
                    $.each(annotation_list, function (key, value) {
                        if (key.indexOf("text") < 0) {
                            annotation_data += '<option value=' + key + '>' + count + '- ' + value + '</option>';
                            count += 1;
                        }
                    });
                    annotation_data += '</select>';
                    var info = '#info_' + key;
                    $(info).text(count - 1 + " relations have been found.");
                    var anno = '#annotation-select_' + key;
                    $(anno).html(annotation_data);
                    var file = '#raw_' + key;
                    $(file).html(JSON.stringify(content));
                }
            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    function reset() {
        fileLoad();
        $("[name='sense1List[]").val('').trigger('chosen:updated');
        $("[name='sense2List[]").val('').trigger('chosen:updated');
        $("#conn-select").val('').trigger('chosen:updated');

        $('#MS').attr('checked', false); // Checks it
        $('p').hide();
        $("#select-operator").hide();
        $("input:checkbox[name=discourse_type]:checked").each(function () {
            $(this).prop('checked', false);
        });
    }

    function download() {
        location.replace('http://localhost:8000/download');
    }

    function download_pdtb() {
        location.replace('http://localhost:8000/download_pdtb');
    }

    function senseSearch() {
        var ajax_url = 'http://localhost:8000/upload/search_sense_rest?file=' + $("#file-select").val();

        if ($("[name='sense1List[]']").val() !== null) {
            ajax_url = ajax_url + '&sense=' + $("#sense-select").val();
        }
        if ($("[name='sense2List[]']").val() !== null) {
            ajax_url = ajax_url + '&sense2=' + $("[name='sense2List[]']").val();
            ajax_url = ajax_url + '&op=' + $("[name='operator']").val();
        }
        if ($("#conn-select").val() !== null) {
            ajax_url = ajax_url + '&connective=' + $("#conn-select").val();
        }
        if ($("#checkbox-form input:checkbox:checked").length > 0) {
            ajax_url = ajax_url + '&type=';

            $("input:checkbox[name=discourse_type]:checked").each(function () {
                ajax_url = ajax_url + $(this).val() + ",";
            });
        }
        if ($("#sense-select").val() === null && $("#conn-select").val() === null && $("#checkbox-form input:checkbox:checked").length == 0) {
            ajax_url = 'http://localhost:8000/upload/search_sense_rest?file=' + $("#file-select").val();
        }
        $.ajax({
            url: ajax_url,
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (all_data) {

                for (var key in all_data) {
                    var data = all_data[key];
                    var content = data["text"];
                    var annotation_list = data["annotation_list"]
                    content = content.replace(/[\n]/g, "<br />").replace(/[\r]/g, "");
                    var annotation_data = "<select name='annotationList' id='annotation-select' multiple size='30'>\n";
                    var count = 1;
                    $.each(annotation_list, function (key, value) {
                        if (key.indexOf("text") < 0) {
                            annotation_data += '<option value=' + key + '>' + count + '- ' + value + '</option>';
                            count += 1;
                        }
                    });
                    annotation_data += '</select>';
                    var info = '#info_' + key;
                    $(info).text(count - 1 + " relations have been found.");
                    var anno = '#annotation-select_' + key;
                    $(anno).html(annotation_data);
                    var file = '#raw_' + key;
                    $(file).html(JSON.stringify(content));
                }
            },
            error: function () {
                alert('Failed!');
            },
        });
        // DIMLEX AJAX REQUEST
        if (ajax_url.indexOf(('conn')) > 0) {
            $.ajax({
                url: "http://localhost:8000/get_sense_wrt_connective?connective=" + $("#conn-select").val() + "&lang=English",
                type: 'GET',
                crossDomain: true,
                dataType: 'json',
                success: function (data) {
                    var dimlex_info = "<ul>"
                    $.each(data, function (index, elem) {
                        dimlex_info += '<table>  <tr> <th>Connective: ' + $("#conn-select").val() + '</th>  </tr> ';
                        $.each(elem['relation'], function (index, pdtb) {
                            dimlex_info += ' <tr> <td>' + pdtb['pdtb2_relation'][0]['sense'] + '(' + pdtb['pdtb2_relation'][0]['freq'] + '/' +
                                pdtb['pdtb2_relation'][0]['anno_N'] + ')' + '</td> </tr>'
                        });
                    });
                    dimlex_info += '</table>';
                    $("#dimlex_div").html(dimlex_info);
                },
                error: function () {
                    alert('Failed!');
                },
            });
            $('html, body').animate({
                scrollTop: $(window).scrollTop() + 400
            }).delay(300);
            $('html, body').animate({
                scrollTop: $(window).scrollTop() - 400
            });
        }
        // DIMLEX AJAX REQUEST
    }

    function highlight() {

        var id = $('.tab .active').attr("id");
        var selected_anno_list = "#annotation-select_" + id;
        var selected_raw = "#raw_" + id;


        $.ajax({
            url: "http://localhost:8000/highlight_rest?annotation=" + $(selected_anno_list).val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'text',
            success: function (data) {
                $(selected_raw).html(data);
                document.getElementById("anno").scrollIntoView();
            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    $(document).ready(function () {

        $("#file-select").change(fileLoad);
        $("[name='reset']").click(reset);
        $("[name='download-button']").click(download);
        $("[name='download-pdtb-button']").click(download_pdtb);
        $("[name='search-button']").click(senseSearch);
        $('.tablinks').each(function () {
            var id = $(this).attr("id");
            var selected_anno_list = "#annotation-select_" + id;
            $(selected_anno_list).click(highlight);
        });
    });
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css">
<script type='text/javascript'>
    window.onload = function () {
        $(".chosen-select").chosen({
                width: '250px',
                no_results_text: "Oops, nothing found!"
            }
        );
        $('p').hide();
        $("#select-operator").hide();
        $("#select-operator").val("none");
        $('#MS').click(function () {
                //this.form.submit();
                if ($(this).is(':checked')) {
                    $('p').show();
                    $("[name='sense2List[]").val('').trigger('chosen:updated');
                    $("#select-operator").show();
                    $("#select-operator").val("and");
                }
                else {
                    $('p').hide();
                    $("[name='sense2List[]").val('').trigger('chosen:updated');
                    $("#select-operator").hide();
                }
            }
        );
    }
</script>