<!DOCTYPE html>
<html lang="en">
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>

    google.charts.load("current", {packages: ["corechart"]});

    //google.charts.setOnLoadCallback(drawTotalChart);

    function updateChosenSelect(data, select_html, select_name) {
        $.each(data, function (key, value) {
            select_html += '<option value=' + key + '>' + value + '</option>';
        });
        select_html += '</select>';
        $(select_name).html(select_html);
        $(select_name).val('').trigger('chosen:updated');
    }

    function fileLoad() {
        $.ajax({
            url: 'http://localhost:8000/upload/search_page?reset=1',
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (all_data) {

                for (var key in all_data) {
                    var data = all_data[key];
                    var content = data["text"];
                    var annotation_list = data["annotation_list"]
                    content = content.replace(/[\n]/g, "<br />").replace(/[\r]/g, "");
                    var annotation_data = "<select name='annotationList' id='annotation-select' multiple size='30'>\n";
                    var count = 1;
                    for (var item in annotation_list) {
                        var res = annotation_list[item];
                        var split_res = res.split("#");
                        if (split_res[1].indexOf("text") < 0) {
                            annotation_data += '<option value=' + split_res[1] + '>' + count + '- ' + split_res[0] + '</option>';
                            count += 1;
                        }
                    }
                    annotation_data += '</select>';
                    var info = '#info_' + key;
                    $(info).text(count - 1 + " relations have been found.");
                    var anno = '#annotation-select_' + key;
                    $(anno).html(annotation_data);
                    var file = '#raw_' + key;
                    $(file).html(content);
                }
            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    function reset() {
        fileLoad();
        $("[name='sense1List[]").val('').trigger('chosen:updated');
        $("[name='sense2List[]").val('').trigger('chosen:updated');
        $("#conn-select").val('').trigger('chosen:updated');

        $('#MS').attr('checked', false);
        $('p').hide();
        $("#select-operator").hide();
        $("#keyword-arg1-select").val('').trigger("");
        $("#keyword-arg2-select").val('').trigger("");
        $("input:checkbox[name=discourse_type]:checked").each(function () {
            $(this).prop('checked', false);
        });
        $("input:checkbox[name=discourse_type]:checked").each(function () {
            $(this).prop('checked', false);
        });
        $("#dimlex_div").html(null);
    }

    function download() {
        var filename = $("#download-file-select").val();
        if (filename == null) {
            alert('Please select a file');
        } else {
            location.replace('http://localhost:8000/download_excel?filename=' + filename);
        }
    }

    function deleteFile() {
        var filename = $("#delete-file-select").val();
        if (filename == null) {
            alert('Please select a file');
        } else {
            location.replace('http://localhost:8000/delete_file?filename=' + filename);
        }
    }

    function download_pdtb() {
        var filename = $("#download-file-select").val();
        if (filename == null) {
            alert('Please select a file');
        } else {
            location.replace('http://localhost:8000/download_pdtb?filename=' + filename);
        }
    }

    function download_all() {
        location.replace('http://localhost:8000/download_all');
    }

    function senseSearch() {
        var ajax_url = 'http://localhost:8000/upload/search_sense_rest?file=' + $("#file-select").val();

        if ($("[name='sense1List[]']").val() !== null) {
            ajax_url = ajax_url + '&sense=' + $("#sense-select").val();
        }
        if ($("[name='sense2List[]']").val() !== null) {
            ajax_url = ajax_url + '&sense2=' + $("[name='sense2List[]']").val();
            ajax_url = ajax_url + '&op=' + $("[name='operator']").val();
        }
        if ($("#conn-select").val() !== null) {
            ajax_url = ajax_url + '&connective=' + $("#conn-select").val();
        }
        if ($("#checkbox-form input:checkbox:checked").length > 0) {
            ajax_url = ajax_url + '&type=';

            $("input:checkbox[name=discourse_type]:checked").each(function () {
                ajax_url = ajax_url + $(this).val() + ",";
            });
        }
        if ($("#sense-select").val() === null && $("#conn-select").val() === null && $("#checkbox-form input:checkbox:checked").length == 0) {
            ajax_url = 'http://localhost:8000/upload/search_sense_rest?file=' + $("#file-select").val();
        }

        if ($("#keyword-arg1-select").val() !== null && $("#keyword-arg1-select").val() !== "") {
            ajax_url = ajax_url + '&keyword-arg1=' + $("#keyword-arg1-select").val();
        }

        if ($("#keyword-arg2-select").val() !== null && $("#keyword-arg2-select").val() !== "") {
            ajax_url = ajax_url + '&keyword-arg2=' + $("#keyword-arg2-select").val();
        }

        $.ajax({
            url: ajax_url,
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (all_data) {

                for (var key in all_data) {
                    var data = all_data[key];
                    var content = data["text"];
                    var annotation_list = data["annotation_list"]
                    content = content.replace(/[\n]/g, "<br />").replace(/[\r]/g, "");
                    var annotation_data = "<select name='annotationList' id='annotation-select' multiple size='30'>\n";
                    var count = 1;
                    for (var item in annotation_list) {
                        var res = annotation_list[item];
                        var split_res = res.split("#");
                        if (split_res[1].indexOf("text") < 0) {
                            annotation_data += '<option value=' + split_res[1] + '>' + count + '- ' + split_res[0] + '</option>';
                            count += 1;
                        }
                    }
                    annotation_data += '</select>';
                    var info = '#info_' + key;
                    $(info).text(count - 1 + " relations have been found.");
                    var anno = '#annotation-select_' + key;
                    $(anno).html(annotation_data);
                    var file = '#raw_' + key;
                    $(file).html(content);
                }
            },
            error: function () {
                alert('Failed!');
            },
        });
        // DIMLEX AJAX REQUEST
        if (ajax_url.indexOf(('conn')) > 0) {
            $.ajax({
                url: "http://localhost:8000/get_sense_wrt_connective?connective=" + $("#conn-select").val(),
                type: 'GET',
                crossDomain: true,
                dataType: 'json',
                success: function (data) {
                    /*
                    var dimlex_info = "<ul>"
                    $.each(data, function (index, elem) {
                        dimlex_info += '<table>  <tr> <th>Connective: ' + $("#conn-select").val() + '</th>  </tr> ';
                        $.each(elem['relation'], function (index, pdtb) {
                            dimlex_info += ' <tr> <td>' + pdtb['pdtb2_relation'][0]['sense'] + '(' + pdtb['pdtb2_relation'][0]['freq'] + '/' +
                                pdtb['pdtb2_relation'][0]['anno_N'] + ')' + '</td> </tr>'
                        });
                    });
                    dimlex_info += '</table>';
                    $("#dimlex_div").html(dimlex_info);
                    */
                    // document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);

                    if (jQuery.isEmptyObject(data)) {
                        $("#dimlex_div").html(null);
                        alert('No information found in Dimlex for ' + $("#conn-select").val());
                    }

                    var rel_type = "";
                    var dimlex_info = "";
                    for (var key in data) {
                        dimlex_info += "<div class='dimlex1'>";
                        dimlex_info += "<br>";
                        dimlex_info += "<font color='red'>word</font>: <b>" + key + "</b>";
                        dimlex_info += "<br>";
                        dimlex_info += "<div class='dimlex2'>";
                        for (var i in data[key]) {
                            dimlex_info += "<i><font color='red'>category</font>: <b>" + data[key][i]['cat']['t'] + "</b></i>";
                            dimlex_info += "<br>";
                            dimlex_info += "<div class='dimlex3'>";
                            for (var s in data[key][i]['sem']) {

                                if (data[key][i]['sem'][s].hasOwnProperty('pdtb2_relation')) {
                                    rel_type = "pdtb2_relation";
                                } else if (data[key][i]['sem'][s].hasOwnProperty('pdtb3_relation')) {
                                    rel_type = "pdtb3_relation";
                                } else {
                                    rel_type = "sdrt_relation";
                                }

                                dimlex_info += "<p style='margin-bottom:2px;'>\n" +
                                    data[key][i]['sem'][s][rel_type][0]['sense'] +
                                    ' (' + data[key][i]['sem'][s][rel_type][0]['freq'] + '/' +
                                    data[key][i]['sem'][s][rel_type][0]['anno_N'] + ')' +
                                    "</p>";
                            }
                            dimlex_info += "</div>";
                        }
                        dimlex_info += "</div>";
                        dimlex_info += "</div>";
                    }
                    $("#dimlex_div").html(dimlex_info);
                },
                error: function () {
                    $("#dimlex_div").html(null);
                    alert('No information found in Dimlex for ' + $("#conn-select").val());
                },
            });

        }
        // DIMLEX AJAX REQUEST
    }

    function highlight() {

        var id = $('.tab .active').attr("id");
        var selected_anno_list = "#annotation-select_" + id;
        var selected_raw = "#raw_" + id;


        $.ajax({
            url: "http://localhost:8000/highlight_rest?annotation=" + $(selected_anno_list).val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'text',
            success: function (data) {
                $(selected_raw).html(data);
                document.getElementById("anno").scrollIntoView();
            },
            error: function () {
                alert('Please select only one connective!');
            },
        });
    }

    function compute_total_stats() {
        $.ajax({
            url: "http://localhost:8000/upload/compute_total_stats?type=" + $("#total-type-select").val() +
            "&sense=" + $("#total-sense-select").val() +
            "&base=" + $("#total-base-select").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                var title = data["title"];
                var coloums = data["coloums"];
                drawTotalChart(title, coloums, "totalchart");
            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    var global_files_stats = null;

    function compute_files_stats() {
        $.ajax({
            url: "http://localhost:8000/upload/compute_files_stats?type=" + $("#file-type-select").val() +
            "&sense=" + $("#file-sense-select").val() +
            "&base=" + $("#file-base-select").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (data) {

                global_files_stats = data;

                $('.statlinks').each(function () {
                    var id = $(this).attr("id");
                    var filechart_id = "filechart_" + id;

                    var file_data = global_files_stats[id];
                    var title = file_data["title"];
                    var coloums = file_data["coloums"];

                    drawTotalChart(title, coloums, filechart_id);
                });

            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    function openFileStatistics(evt, fileId) {
        var i, stats, statlinks, alert, annotations;
        stats = document.getElementsByClassName("stats");
        for (i = 0; i < stats.length; i++) {
            stats[i].style.display = "none";
        }
        statlinks = document.getElementsByClassName("statlinks");
        for (i = 0; i < statlinks.length; i++) {
            statlinks[i].className = statlinks[i].className.replace(" active", "");
        }
        alert = document.getElementsByClassName("filestats");
        for (i = 0; i < alert.length; i++) {
            alert[i].style.display = "none";
        }
        document.getElementById("filechart_" + fileId).style.display = "block";

        evt.currentTarget.className += " active";

        compute_files_stats();

        $('.statlinks').each(function () {
            var id = $(this).attr("id");
            var filechart_id = "filechart_" + id;

            var file_data = global_files_stats[id];
            var title = file_data["title"];
            var coloums = file_data["coloums"];

            drawTotalChart(title, coloums, filechart_id);
        });
    }

    function drawTotalChart(title, coloums, attr_id) {
        var data = google.visualization.arrayToDataTable(coloums);

        var options = {
            title: title,
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById(attr_id));
        chart.draw(data, options);
    }

    function disable() {
        var chosen = $("#file-base-select").val();
        if (chosen == "sense") {
            $("#file-type-select").prop("disabled", true);
            $("#file-sense-select").prop("disabled", false);
        }
        else {
            $("#file-type-select").prop("disabled", false);
            $("#file-sense-select").prop("disabled", true);
        }

        var chosen_total = $("#total-base-select").val();
        if (chosen_total == "sense") {
            $("#total-type-select").prop("disabled", true);
            $("#total-sense-select").prop("disabled", false);
        }
        else {
            $("#total-type-select").prop("disabled", false);
            $("#total-sense-select").prop("disabled", true);
        }

    }

    $(document).ready(function () {

        $("#file-select").change(fileLoad);
        $("[name='reset']").click(reset);
        $("[name='delete-button']").click(deleteFile);
        $("[name='download-button']").click(download);
        $("[name='download-pdtb-button']").click(download_pdtb);
        $("[name='download-all-button']").click(download_all);
        $("[name='search-button']").click(senseSearch);
        $("#file-base-select").change(disable);
        $("#total-base-select").change(disable);
        $("[name='compute-total-stats']").click(compute_total_stats);
        $("[name='compute-files-stats']").click(compute_files_stats);
        $('.tablinks').each(function () {
            var id = $(this).attr("id");
            var selected_anno_list = "#annotation-select_" + id;
            $(selected_anno_list).click(highlight);
        });
    });
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css">
<script type='text/javascript'>
    window.onload = function () {
        $(".chosen-select").chosen({
                width: '250px',
                no_results_text: "Oops, nothing found!"
            }
        );
        $('p').hide();
        $("#select-operator").hide();
        $("#select-operator").val("none");
        $('#MS').click(function () {
                //this.form.submit();
                if ($(this).is(':checked')) {
                    $('p').show();
                    $("[name='sense2List[]").val('').trigger('chosen:updated');
                    $("#select-operator").show();
                    $("#select-operator").val("and");
                }
                else {
                    $('p').hide();
                    $("[name='sense2List[]").val('').trigger('chosen:updated');
                    $("#select-operator").hide();
                }
            }
        );
    }
</script>