<!DOCTYPE html>
<html lang="en">
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>

    function updateChosenSelect(data, select_html, select_name) {
        $.each(data, function (key, value) {
            select_html += '<option value=' + key + '>' + value + '</option>';
        });
        select_html += '</select>';
        $(select_name).html(select_html);
        $(select_name).val('').trigger('chosen:updated');
    }

    function fileLoad() {
        $.ajax({
            url: 'http://localhost:8000/ted_mdb?file=' + $("#file-select").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                var annotation_data = data['annotation_list']
                var connective_data = data['connective_list']
                var content = data["text"];

                content = content.replace(/[\n]/g, "<br />").replace(/[\r]/g, "");
                $('#first_language').find("#txt").html(JSON.stringify(content));

                // fill ANNOTATION SELECT
                var annotation_list = "<select name='annotationList' id='annotation-select' multiple size='30'>";
                var count = 1;
                $.each(annotation_data, function (key, value) {
                    annotation_list += '<option value=' + key + '>' + key + '- ' + value + '</option>';
                    count += 1;
                });
                annotation_list += '</select>';
                $('#first_language').find('#annotation-select').html(annotation_list);
                $('#first_language').find('#info').text(count - 1 + " relations have been found.");
                // fill ANNOTATION SELECT

                // fill CONNECTIVE SELECT
                var connective_select_data = "<select name='connectiveList[]' id='conn-select' data-placeholder='Connective' multiple class='chosen-select'\n";
                updateChosenSelect(connective_data, connective_select_data, "[name='connectiveList[]");
                // fill CONNECTIVE SELECT

                // fill SENSE SELECT
                // ??
                // fill SENSE SELECT

                //      $('#second_language').find('#annotation-select').html(annotation_list);
                //      $('#second_language').find('#info').text(count - 1 + " relations have been found.");
                var eng_content = data["eng_text"];
                var eng_annotation_data = data["eng_annotation_list"];
                count = 1;
                var eng_annotation_list = "<select name='annotationList' id='annotation-select' multiple size='30'>";
                $.each(eng_annotation_data, function (key, value) {
                    eng_annotation_list += '<option value=' + key + '>' + key + '- ' + value + '</option>';
                    count += 1;
                });
                eng_annotation_list += '</select>';
                eng_content = eng_content.replace(/[\n]/g, "<br />").replace(/[\r]/g, "");
                $('#second_language').find("#txt").html(JSON.stringify(eng_content));
                $('#second_language').find('#annotation-select').html(eng_annotation_list);
                $('#second_language').find('#info').text(count - 1 + " relations have been found.");

            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    function reset() {
        fileLoad();
        $("[name='sense1List[]").val('').trigger('chosen:updated');
        $("[name='sense2List[]").val('').trigger('chosen:updated');
        $("#conn-select").val('').trigger('chosen:updated');

        $('#MS').attr('checked', false);
        $('p').hide();
        $("#select-operator").hide();
        $("input:checkbox[name=discourse_type]:checked").each(function () {
            $(this).prop('checked', false);
        });
    }

    function languageLoad() {

        if ($("#language-select").val().trim() == "English") {
            $("#second-language-select").show();
        }
        else {
            $("#second-language-select").hide();
        }
        $.ajax({
            url: 'http://localhost:8000/ted_mdb?language=' + $("#language-select").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                var file_select_data = "<select id='file-select' name='file-select' method='get'>"
                $.each(data, function (key, value) {
                    file_select_data += '<option value=' + value + '>' + value + '</option>';
                });
                file_select_data += '</select>'
                $("#file-select").html(file_select_data);
                $("#file-select").val(data[0]).change();

                //  $("#file-select").val(data['selected_file']).change();
            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    function secondLanguageLoad() {

        $.ajax({
            url: 'http://localhost:8000/ted_mdb?language=English&sec_lang=' + $("#second-language-select").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                //  $("#file-select").val(data['selected_file']).change();
            },
            error: function () {
                alert('Failed!');
            },
        });
    }

    function findAligned() {
        $.ajax({
            url: 'http://localhost:8000/ted_mdb_get_aligned?annotation=' + $('#first_language').find('#annotation-select').val() + "&" + "file=" + $("#file-select").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                var eng_key = ""
                $.each(data, function (key, value) {
                    eng_key = key
                });
                $('#second_language').find('#annotation-select').val(eng_key);

                $('#second_language').find('#annotation-select').change();
            },
            error: function () {
                alert('This annotation does not have a counterpart in English!');
            },
        });
    }

    function autoScroll() {
        if ($('#second_language').find('#annotation-select').length) {
            $('#second_language').find('#annotation-select').focus().find(":selected")[0].scrollIntoView();
        }
    }

    function highlight() {
        $.ajax({
            url: "http://localhost:8000/highlight_rest?ted_mdb_annotation=" + $('#first_language').find("#annotation-select").val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'text',
            success: function (data) {
                $('#first_language').find("#txt").html(data);
                document.getElementById("anno").scrollIntoView();
                //   alert("highlight1" + $('#first_language').find("#annotation-select").val())
            },
            error: function () {
                alert(' highlight1 Failed!');
            },
        });
    }

    function highlightSecond() {

        $.ajax({
            url: "http://localhost:8000/highlight_rest?ted_mdb_annotation=" + $('#second_language').find('#annotation-select').val(),
            type: 'GET',
            crossDomain: true,
            dataType: 'text',
            success: function (data) {
                $('#second_language').find("#txt").html(data);
                $('#second_language').find("#txt").getElementById("anno").scrollIntoView();

            },
            error: function () {
                alert(' highlight2 Failed!');
            },
        });
    }

    function annotationListChange() {
        highlight();
        findAligned();
    }

    function annotationList2Change() {
        highlightSecond();
        autoScroll();
    }

    $(document).ready(function () {
        $("#file-select").change(fileLoad);
        $("#language-select").change(languageLoad);
        $("#second-language-select").change(secondLanguageLoad);

        $('#first_language').find('#annotation-select').change(annotationListChange);
        $('#second_language').find('#annotation-select').on('change', annotationList2Change);

        $("[name='reset']").click(reset);
        //sense search
        $("[name='search-button']").click(function () {
            var ajax_url = 'http://localhost:8000/ted_mdb_rest?file=' + $("#file-select").val();

            if ($("[name='sense1List[]']").val() !== null) {
                ajax_url = ajax_url + '&sense=' + $("#sense-select").val();
            }
            if ($("[name='sense2List[]']").val() !== null) {
                ajax_url = ajax_url + '&sense2=' + $("[name='sense2List[]']").val();
                ajax_url = ajax_url + '&op=' + $("[name='operator']").val();
            }
            if ($("#conn-select").val() !== null) {
                ajax_url = ajax_url + '&connective=' + $("#conn-select").val();
            }
            if ($("#checkbox-form input:checkbox:checked").length > 0) {
                ajax_url = ajax_url + '&type=';

                $("input:checkbox[name=discourse_type]:checked").each(function () {
                    ajax_url = ajax_url + $(this).val() + ",";
                });
            }
            if ($("#sense-select").val() === null && $("#conn-select").val() === null && $("#checkbox-form input:checkbox:checked").length == 0) {
                ajax_url = 'http://localhost:8000/ted_mdb_rest?file=' + $("#file-select").val();
            }
            $.ajax({
                url: ajax_url,
                type: 'GET',
                crossDomain: true,
                dataType: 'json',
                success: function (data) {
                    var content = data["text"];
                    var annotation_data = data["annotation_list"]
                    content = content.replace(/[\n]/g, "<br />").replace(/[\r]/g, "");
                    var annotation_list = "<select name='annotationList' id='annotation-select' multiple size='30'>\n";
                    var count = 1;
                    $.each(data, function (key, value) {
                        if (key.indexOf("text") < 0) {
                            annotation_list += '<option value=' + key + '>' + count + '- ' + value + '</option>';
                            count += 1;
                        }
                    });
                    annotation_list += '</select>';
                    $('#first_language').find('#info').text(count - 1 + " relations have been found.");
                    $('#first_language').find('#annotation-select').html(annotation_list);
                    $('#first_language').find("#txt").html(JSON.stringify(content));
                },
                error: function () {
                    alert('Failed!');
                },
            });
            // DIMLEX AJAX REQUEST
            if (ajax_url.indexOf(('conn')) > 0) {
                $.ajax({
                    url: "http://localhost:8000/get_sense_wrt_connective?connective=" + $("#conn-select").val() + "&lang=English",
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json',
                    success: function (data) {
                        var dimlex_info = "<ul>"
                        $.each(data, function (index, elem) {
                            dimlex_info += 'DIMLEX<br> <b>' + elem['word'] + '</b>';
                            $.each(elem['relation'], function (index, pdtb) {
                                dimlex_info += '<li>' + pdtb['pdtb2_relation'][0]['sense'] + '(' + pdtb['pdtb2_relation'][0]['freq'] + '/' +
                                    pdtb['pdtb2_relation'][0]['anno_N'] + ')' + '</li>'
                            });
                        });
                        dimlex_info += '</ul>';
                        $("#dimlex_div").html(dimlex_info);
                    },
                    error: function () {
                        alert('Failed!');
                    },
                });
                $('html, body').animate({
                    scrollTop: $(window).scrollTop() + 400
                }).delay(300);
                $('html, body').animate({
                    scrollTop: $(window).scrollTop() - 400
                });
            }
            // DIMLEX AJAX REQUEST
        });
    })
    ;
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css">

<script type='text/javascript'>
    window.onload = function () {
        $(".chosen-select").chosen({
                            width: '250px',
                no_results_text: "Oops, nothing found!"
            }
        );
        $('p').hide();
        $('p2').hide();

        $("#select-operator").hide();
        $("#select-operator").val("none");

        $("#select-operator").hide();
        $("#select-operator").val("none");


        $('t').hide();
        $('.search-options-first-langage').css('width','100%');
        $('#MS').click(function () {
                //this.form.submit();
                if ($(this).is(':checked')) {
                    $('p').show();
                    $("[name='sense2List[]").val('').trigger('chosen:updated');
                    $("#select-operator").show();
                    $("#select-operator").val("and");
                }
                else {
                    $('p').hide();
                    $("[name='sense2List[]").val('').trigger('chosen:updated');
                    $("#select-operator").hide();
                }
            }
        );

        $('#MLS').click(function () {
                //this.form.submit();
                if ($(this).is(':checked')) {
                    $('t').show();
                    $('.search-options-first-langage').css('width','50%');
                }
                else {
                    $('t').hide();
                    $('.search-options-first-langage').css('width','100%');
                }
            }
        );
    }
</script>

